html{font-size:20px}
@media only screen and (min-width:400px){html{font-size:21.33333333px!important}
}@media only screen and (min-width:414px){html{font-size:22.08px!important}
}@media only screen and (min-width:480px){html{font-size:25.6px!important}
}html,body,h1,h2,h3,h4,h5,h6,div,ul,ol,li,p,form,input,button{margin:0;padding:0}
nav{display:block}
html,body,img,iframe{border:0}
img{vertical-align:middle}
i,em{font-style:normal}
li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,button{cursor:pointer}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold}
a,a:hover{text-decoration:none;color:#3887f7}
body,input,button{font-family:"Helvetica Neue",Helvetica,sans-serif;font-size:.85rem;line-height:1rem;color:#333;outline:0}
body{background-color:#222}
.vwbg{margin:0 auto;position:relative;width:100%;max-width:640px;background-color:#efefef}
.mynav{float:left;width:95%;padding:0 2.5%;height:2.35rem;background-color:#fff;border-bottom:1px solid #ececec;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.mynav a{float:left;width:2.1rem;height:2.3rem;line-height:2.3rem;display:block;font-size:.85rem;text-align:center;color:#888}
.mynav .on{color:#1aad19;border-bottom:.1rem solid #1aad19}
.mysrh{float:left;width:95%;background-color:#efefef;padding:.5rem 2.5%;border-bottom:1px solid #ececec}
.uzsrh{float:left;width:100%;display:block;border-radius:2px;background-color:#fff}
.uzsrh input{float:left;display:block;width:84%;height:1.7rem;line-height:1.7rem;font-size:.65rem;background-color:#fff;color:#333;border:0;border-radius:2px 0 0 2px;-webkit-appearance:none;outline:none;padding:0 2.5%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
input::-webkit-input-placeholder{color:#bbb}input::-moz-input-placeholder{color:#bbb}input:-ms-input-placeholder{color:#bbb}
.uzsrh button{float:right;display:block;width:16%;height:1.7rem;line-height:1.7rem;font-size:0;background:url(../fonts/search.svg) no-repeat;background-size:.8rem;background-position:center;background-color:#1aad19;color:#fff;border:0;border-radius:0 2px 2px 0;-webkit-appearance:none;outline:none}
.mybbs{float:left;width:95%;padding:.6rem 2.5%;background-color:#fffbbb;font-weight:bold;text-align:center;font-size:.75rem;line-height:1.1rem;color:#f10606;border-bottom:1px solid #efefef;overflow:hidden}
.myrst{float:left;width:95%;padding:.6rem 2.5%;background-color:#fff;font-size:.7rem;line-height:1.1rem;color:#f10606;border-bottom:1px solid #efefef;overflow:hidden}
.myvod{float:left;width:95%;padding:.6rem 2.5% 0;background-color:#fff}
.myvod ul{float:left;width:100%}
.myvod ul li{float:left;width:48.7%;margin-right:2.6%}
.myvod ul li:nth-child(2n){margin-right:0}
.uzimg{position:relative;display:block;float:left;width:100%;height:0;padding-bottom:56.25%;background:#efefef;border-radius:2px;overflow:hidden}
.uzimg img{width:100%}
.uzimg span{position:absolute;bottom:0;right:0;font-size:.55rem;line-height:.75rem;color:#eee;background:rgba(0,0,0,.6);border-top-left-radius:2px;overflow:hidden}
.myvod h4{font-size:.65rem;font-weight:normal;width:100%;height:1.7rem;line-height:1.35rem;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.myvod h4 a{color:#333}
.myhot{float:left;width:95%;padding:0 2.5% 2rem;background-color:#fff;border-top:1px solid #efefef}
.myhot p{float:left;width:100%;padding:.6rem 0 .4rem;font-size:.7rem;line-height:1.1rem;color:#f10606;}
.myhot a{float:left;margin-right:2.5%;margin-bottom:.5rem;padding:0 .5rem;line-height:1.5rem;font-size:.65rem;color:#777;border:1px solid #ececec;border-radius:.5rem}
.mypage{float:left;background-color:#fff;height:1.7rem;width:95%;padding:.6rem 2.5% .7rem;border-top:1px solid #efefef}
.mypage em,.mypage a{display:block;height:1.7rem;line-height:1.6rem;border-radius:2px;font-size:.7rem;text-align:center;font-weight:normal;font-style:normal;border:1px solid #1aad19;color:#1aad19;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:23.2%;float:left;margin-left:2.4%;}
.mypage em:nth-child(1){margin-left:0}
.mypage a:nth-child(1){margin-left:0}
.mypage em{border:1px solid #e0e0e0;color:#e0e0e0}

.mycate{float:left;background-color:#fff;height:3.7rem;width:95%;padding:.6rem 2.5% .7rem;border-top:1px solid #efefef}
.mycate a{display:block;height:1.7rem;line-height:1.6rem;border-radius:2px;font-size:.7rem;text-align:center;font-weight:normal;font-style:normal;border:1px solid #1aad19;color:#1aad19;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:23.2%;float:left;margin-left:2.4%;margin-bottom: 16px}
.mycate a:nth-child(1){margin-left:0}
.mycate a:nth-child(5){margin-left:0}
.myplayer{float:left;position:relative;display:block;overflow:hidden;width:100%;height:0;padding-bottom:56.25%;background-color:#000;z-index:999}
.myplayer iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
.mymenu{float:left;width:95%;padding:.3rem 2.5%;height:1.6rem;background-color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.mymenu a{float:left;width:23.125%;height:1.6rem;line-height:1.6rem;display:block;font-size:.7rem;text-align:center;color:#fff;background-color:#1aad19;border-radius:2px}
.myant{float:left;width:95%;padding:.6rem 2.5% 2.8rem;background-color:#fff;border-top:1px solid #efefef}
.myant a{float:left;width:48.2%;padding-left:0.5%;margin-bottom:.3rem;margin-right:2.6%;height:1.6rem;line-height:1.6rem;display:block;background-color:#efefef;border-radius:2px;font-size:.65rem;color:#333;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.myant a:nth-child(2n){margin-right:0}
.myant .on{color:#1aad19}
.myft{float:left;width:95%;padding:1.75rem 2.5%;background-color:#efefef;border-top:1px solid #ececec}
.myft p{text-align:center;font-size:.7rem;color:#bbb}